input {

  &:hover {
    border: 1px solid #480202 !important ;
  }

  &:focus {
    border: 1px solid #3f2a2a !important;
    box-shadow: 0 0 200px 30px #230000 !important;
  }

  &.activated {
    &:focus {
      box-shadow: 0 0 20px 0 #230000 !important;
      border: 1px solid #2f0000 !important;
    }
  }
}


