<header
  class="w-full flex flex-col items-center fixed top-0 left-0 z-50 transition-all duration-[600ms] ease-[cubic-bezier(.25,.8,.25,1)] font-bold !p-8"
  [ngClass]="hasSearched()
      ? 'h-[140px] backdrop-blur-xl border-b border-white/5 justify-end pb-5 items-center'
      : 'h-screen bg-transparent justify-center'"
>
  <div class="absolute transition-all duration-[600ms] font-bold tracking-wider"
       [ngClass]="hasSearched()
           ? 'top-[40%] left-8 text-2xl translate-y-0 '
           : 'top-[30%] left-1/2 -translate-x-1/2 text-6xl'">
    <span class="text-white text-4xl">NEXUS</span>
  </div>

  <app-main-searchbar
    class="w-full transition-all duration-700"
    [ngClass]="hasSearched()
      ? 'max-w-[600px]'
      : 'max-w-[550px] px-4 scale-110'"
    (searchTriggeredOutput)="hasSearched.set($event)"
  />

</header>
