*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #111111;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  position: relative;
  overflow-x: hidden;
}

body::before {
  content: '';
  position: absolute;

  left: 50%;
  transform: translateX(-50%);


  width: 80vw;
  height: 100vh;

  background: radial-gradient(
      ellipse at center,
      rgba(86, 18, 18, 0.5) 0%,
      rgba(60, 10, 10, 0.3) 40%,
      transparent 70%
  );


  filter: blur(80px);

  z-index: -1;
  pointer-events: none;
}


@keyframes slideDownFade {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Az osztály, amit használni fogunk */
.animate-slide-down {
  opacity: 0;
  animation: slideDownFade 0.8s cubic-bezier(0.2, 0.8, 0.2, 1) forwards;
}


.delay-200 { animation-delay: 200ms; }
.delay-300 { animation-delay: 300ms; }
.delay-400 { animation-delay: 400ms; }
