<div class="h-full border border-white/5 rounded-lg !p-3 backdrop-blur-md ">

  <p-dataview [value]="torrents()" [rows]="10" [paginator]="true" [loading]="torrentApi.loading()">
    <ng-template #list let-items>
      <div class="grid grid-cols-12 gap-4 grid-nogutter">
        @for (item of items; track item.title; let first = $first) {
          <div class="col-span-12">
            <div
              class="flex flex-col sm:flex-row sm:items-center !p-5 gap-4 torrent-item"
              [class.border-t]="!first"
              [class.border-surface-200]="!first"
              [class.dark:border-surface-700]="!first"
            >
              <div class="md:w-10 relative">
                <!--<img
                  class="block xl:block mx-auto rounded-border w-full"
                  [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + item.image"
                  [alt]="item.name"
                />-->
                <div class="block xl:block mx-auto rounded-border w-full ">
                  <i class="pi pi-file-arrow-up !text-3xl"></i>
                </div>

              </div>
              <div class="flex flex-col md:flex-row justify-between md:items-center flex-1 gap-6">
                <div class="flex flex-row md:flex-col justify-between items-start gap-2">
                  <div>
                    <div class="text-base font-medium text-surface-900 dark:text-surface-0 mt-2">{{ item.title }}</div>
                    <span
                      class="font-medium text-secondary text-gray-400 text-xs">Published by: <i>{{ item.provider }}</i></span>
                  </div>
                </div>
                <div class="flex flex-col md:items-end gap-8">
                  <div class="flex flex-row-reverse md:flex-row gap-2">
                    <p-tag [value]="item.category | torrentCategory"/>
                    <p-button
                      icon="pi pi-download"
                      class="flex-auto md:flex-initial whitespace-nowrap"
                      label="Download"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        }
      </div>
    </ng-template>
  </p-dataview>
</div>

